extends layout

block content
    div.statsbuttons
        a(href="#" class="statsbutton stats")= "Show"
    input.red= "Team1"
    input.blue= "Team2"
    button.submitversus= "Submit versus"

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="./js/dash.js")