body {
    font: 14px "varela round", Helvetica, Arial, sans-serif;
}

.redplayers {
    position: absolute;
    left: 30%;
    /*width: 560px;*/
    bottom: 0;
    background: #df4f2d;
    border-radius: 5px;
    padding: 5px;

    transition: all 500ms;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.blueplayers {
    position: absolute;
    right: 30%;
    /*width: 560px;*/
    bottom: 0;
    background: #5f90b0;
    border-radius: 5px;
    padding: 5px;

    transition: all 500ms;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.announce {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    width: 300px;
    height: 70px;
    background-color: rgba(116, 116, 119, 0.33);
    border-radius: 5px;
    opacity: 0;
    border-top: 2px solid #c5c6c1;
    border-bottom: 2px solid #c5c6c1;

    transition: all 500ms;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.announceplayer {
    position: absolute;
    width: 75%;
    top: 0;
    font-size: 32px;
    text-align: center;
    text-shadow: 4px 4px #0c0c0c;
}

.announcemessage {
    position: absolute;
    width: 75%;
    font-size: 26px;
    top: 35px;
    left: 40px;
    text-align: center;
}

.announceavatar {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 11px;
    margin-left: 10px;
    /*border: 2px solid #fff;*/
}

.player {
    display: inline-block;
    text-align: center;
    width: 60px;
    overflow: hidden;
    opacity: 0;
    /*border: 1px solid rgba(255, 33, 0, 1);*/
    padding-left: 4px;
    padding-right: 10px;
}

.talents {
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-left: -4px;
    padding-right: 10px
}

.talentscontainer {
    width: 25px;
    position: relative;
    right: 32px;
    top: 16px;
}

.talent {
    width: 20px;
    height: 20px;
}

.playername {
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.avatar {
    width: 100%;
}

.playerscore {
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.header {
    position: absolute;
    top: -39px;
    width: 100%;
    margin: 0 auto;
}

.headercontainer {
    width: 50%;
    margin: 0 auto;
}

.red {
    display: inline-block;
    font-size: 50px;
    color: #fefefe;
    width: 20%;
    text-align: center;

    background: rgba(236, 79, 70, 1);
    background: -moz-linear-gradient(top, rgba(236, 79, 70, 1) 0%, rgba(231, 49, 29, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236, 79, 70, 1)), color-stop(100%, rgba(231, 49, 29, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 79, 70, 1) 0%, rgba(231, 49, 29, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 79, 70, 1) 0%, rgba(231, 49, 29, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 79, 70, 1) 0%, rgba(231, 49, 29, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 79, 70, 1) 0%, rgba(231, 49, 29, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec4f46', endColorstr='#e7311d', GradientType=0);
}

.mid {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 50px;
    color: #404040;

    background: rgba(148, 152, 158, 1);
    background: -moz-linear-gradient(top, rgba(148, 152, 158, 1) 0%, rgba(124, 128, 136, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148, 152, 158, 1)), color-stop(100%, rgba(124, 128, 136, 1)));
    background: -webkit-linear-gradient(top, rgba(148, 152, 158, 1) 0%, rgba(124, 128, 136, 1) 100%);
    background: -o-linear-gradient(top, rgba(148, 152, 158, 1) 0%, rgba(124, 128, 136, 1) 100%);
    background: -ms-linear-gradient(top, rgba(148, 152, 158, 1) 0%, rgba(124, 128, 136, 1) 100%);
    background: linear-gradient(to bottom, rgba(148, 152, 158, 1) 0%, rgba(124, 128, 136, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94989e', endColorstr='#7c8088', GradientType=0);
}

.blue {
    display: inline-block;
    font-size: 50px;
    color: #fefefe;
    width: 20%;
    text-align: center;

    background: rgba(73, 155, 234, 1);
    background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
    background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -o-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -ms-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5', GradientType=0);
}

.points {
    position: absolute;
    right: 0;
    top: 319px;
    width: 105px;
    text-align: center;
}

.point {
    font-size: 22px;
    text-transform: uppercase;
    color: #eeeeee;
}

.point.point-red {
    color: #db3100;
}

.point.point-blue {
    color: #69a5ff;
}

.point.point-neutral {
    color: #eeeeee;
}

p {
    font-size: 30px;
    color: #fff;
    display: inline;
    vertical-align: top;
    margin-top: 5px;
}

.redstats {
    position: absolute;
    left: 20px;
    width: 475px;
    top: 200px;
    opacity: 0;
    overflow: hidden;
}

.bluestats {
    position: absolute;
    right: 20px;
    width: 475px;
    top: 200px;
    opacity: 0;
    overflow: hidden;
}

.statsavatar {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
}

.show {
    opacity: 1;
}

.visible {
    visibility: visible;
}

.hide {
    opacity: 0;
}

.statstate {
    color: #000;
}

table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;

    border-radius: 5px;
    border-top: 2px solid #c5c6c1;
    border-bottom: 2px solid #c5c6c1;
}

td, th {
    padding: .2em .2em;
    text-align: left;
    font-size: 18px;
}

td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
}

.redstats th {
    background-color: rgba(196, 35, 36, 1);
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.bluestats th {
    background-color: rgba(65, 131, 196, 1);
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

tbody th {
    background-color: #4183C4;
}

tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}

tbody tr:hover {
    background-color: rgba(129, 208, 177, .3);
}