body {
    font: 14px "varela round", Helvetica, Arial, sans-serif;
}

.redplayers {
    position: absolute;
    left: 358px;
    width: 560px;
    bottom: 0;
    /*background: rgba(0, 183, 255, 0.27);*/
}

.blueplayers {
    position: absolute;
    right: 72px;
    width: 560px;
    bottom: 0;
    /*background: rgba(0, 183, 255, 0.27);*/
}

.player {
    display: inline-block;
    text-align: center;
    width: 80px;
    overflow: hidden;
    /*border: 1px solid rgba(255, 33, 0, 1);*/
    padding-left: 4px;
    padding-right: 10px;
}

.playername {
    width: 70px;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
}

.avatar {
    top: 2px;
    left: 0;
    float: left;
}

.kdr {
    font-size: 13px;
    text-align: center;
    float: left;
    margin-top: 2px;
    width: 50px;
    font-weight: bold;
}

.red {
    position: absolute;
    top: -39px;
    left: 218px;
    font-size: 50px;
    color: #db3100;
    width: 106px;
    text-align: center;
}

.blue {
    position: absolute;
    top: -39px;
    right: 216px;
    font-size: 50px;
    color: #69a5ff;
    width: 106px;
    text-align: center;
}

.points {
    position: absolute;
    right: 0;
    top: 319px;
    width: 105px;
    text-align: center;
}

.point {
    font-size: 22px;
    text-transform: uppercase;
    color: #eeeeee;
}

.point.point-red {
    color: #db3100;
}

.point.point-blue {
    color: #69a5ff;
}

.point.point-neutral {
    color: #eeeeee;
}

p {
    font-size: 30px;
    color: #fff;
    display: inline;
    vertical-align: top;
    margin-top: 5px;
}